.h-logo {
    max-width: 185px !important;
}

.img-wrapper,
.collection-banner,
.product-image,
.slick-slide {
    border-radius: 10px !important;
}

.search-box {
    border-radius: 10px 0 0 10px !important;
}

.cart-media {
    border-radius: 0 10px 10px 0 !important;
    width: 42px !important;
    height: 42px !important;
}

.f-logo {
    max-width: 220px !important;
}

@media only screen and (max-width: 600px) {
    .h-logo {
        max-width: 110px !important;
    }
}

body {
    font-family: 'Jost', sans-serif !important;
}

header .profile-dropdown ul li {
    display: block;
    padding: 5px 20px;
    border-bottom: 1px solid #ddd;
    line-height: 35px;
}

header .profile-dropdown ul li:last-child {
    border-color: #fff;
}

header .profile-dropdown ul {
    padding: 10px 0;
    min-width: 250px;
}

.name-usr {
    background: #e87316;
    padding: 8px 12px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
}

.name-usr span {
    margin-right: 10px;
}

@media (max-width:600px) {
    .h-logo {
        max-width: 150px !important;
    }

    i.sidebar-bar {
        font-size: 22px;
    }

    .mobile-menu ul li a svg {
        width: 20px;
        height: 20px;
    }

    .mobile-menu ul li a span {
        margin-top: 0px;
        font-size: 12px;
    }

    .name-usr {
        padding: 5px 12px;
    }
}

.container span {
    border-radius: 10px;
}


.r-price {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.r-price .main-price {
    width: 100%;
}

.r-price .rating {
    padding-left: auto;
}

.product-style-3.product-style-chair .product-title {
    text-align: left;
    width: 100%;
}

@media (max-width:600px) {

    .product-box p,
    .product-box a {
        text-align: left;
    }

    .product-style-3.product-style-chair .main-price {
        text-align: right !important;
    }
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.search-box i {
    font-size: 18px;
    }
    .product-image a image{
    border-radius: 10px !important;
}
.footer-content ul li a {
   color: rgb(35, 35, 35) !important ;
}

#home{
    border-bottom: solid 1px #bd1125 !important;
}

/* Detail */

 .quantity-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 100px;
        overflow: hidden;
    }

    .btn-plus,
    .btn-minus {
        width: 40px;
        height: 48.1px;
        background-color: #f4f4f4;
        border: none;
        font-size: 14px;
        cursor: pointer;
    }

    .btn-plus:hover,
    .btn-minus:hover {
        background-color: #e2e2e2;
    }

    input[type="number"] {
        width: 40px;
        text-align: center;
        border: none;
        font-size: 16px;
        outline: none;
        pointer-events: none;
        align-items: center;
    }

    #cartEffect {
        margin-left: 15px;
    }

    .size-selector {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 20px;
    }

    .size-selector label {
        display: inline-block;
        width: 80px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        border: 2px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        user-select: none;
        transition: all 0.3s;
    }

    .size-selector input[type="radio"] {
        display: none;
    }

    .size-selector input[type="radio"]:checked+label {
        border-color: black;
        background-color: #f0f0f0;
    }

    .size-selector label:hover {
        border-color: #999;
    }

    .details-image-concept {
        border-bottom: dashed 1px #333;
        padding-bottom: 10px;
    }

    .rating {
        display: inline-block;
        font-size: 25px;
    }

    .rating {
        display: inline-block;
        font-size: 25px;
    }

    .star {
        display: inline-block;
        color: #ccc;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
    }

    .star.active {
        color: #e87316;
    }

    .star.hover {
        color: #e87316;
    }

    .star1 {
        color: #ccc;
    }

    .love-icon {
        cursor: pointer;
        color: black;
        transition: color 0.3s ease;
    }

    .love-icon:hover {
        color: red;
    }

    .love-icon:hover i,
    .love-icon:hover p {
        color: red;
    }

    #alert {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1050;
        padding: 15px 20px;
        border-radius: 10px;
        background-color: #d4edda;
        color: #155724;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        animation: fadeInOut 4s forwards;
    }

    @keyframes fadeInOut {

        0%,
        20% {
            opacity: 1;
        }

        80%,
        100% {
            opacity: 0;
        }
    }

    .notification {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1050;
        padding: 15px 20px;
        border-radius: 10px;
        font-size: 14px;
        color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .notification.success {
        background-color: #28a745;
    }

    .notification.error {
        background-color: #dc3545;
    }

    .dot-menu {
        position: relative;
        display: inline-block;
        cursor: pointer;
        width: 24px;
        height: 24px;
        padding: 4px;
    }

    .dot-menu .dot {
        width: 4px;
        height: 4px;
        background-color: #555;
        border-radius: 50%;
        margin: 2px auto;
    }

    .menu-options {
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 6px;
        background: white;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        display: none;
        min-width: 100px;
        z-index: 100;
    }

    .menu-options.show {
        display: block;
    }

    .menu-options a {
        display: block;
        padding: 8px 12px;
        text-decoration: none;
        color: #333;
    }

    .menu-options a:hover {
        background-color: #f2f2f2;
    }

    .product-details-table {
        margin: 20px auto;
        width: 80%;
        text-align: left;
        padding-top: 15px;

    }

    .product-details-table table {
        width: 100%;
        border-collapse: collapse;
    }

    .product-details-table td {
        padding: 10px 15px;
        vertical-align: top;
        text-align: left !important;
    }

    /* Overlay phủ mờ */
    .size-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        justify-content: center;
        align-items: flex-end;
    }

     /* Modal chọn size nổi ở dưới */
    .size-modal {
        width: 100%;
        max-height: 33vh;
        background-color: white;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 20px;
        box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.2);
        animation: slideUp 0.3s ease-out;
    }

    .size-title {
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
        color: #e87316;
    }

    .product-description {
        white-space: pre-line;
        word-wrap: break-word;
    }

    @keyframes slideUp {
        from {
            transform: translateY(100%);
        }

        to {
            transform: translateY(0%);
        }
    }

    /* Home */
    .category-content>h3 {
        color: #ffffff !important
    }

    .description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .star {
        color: #ccc;
        font-size: 20px;
    }

    .price-sale {
        background-color: #bd1125;
        border-radius: 10px !important;
    }

    .price-color {
        color: #767676;
    }

    /* Overlay phủ mờ */
    .size-overlay {
        display: none;
        /* Mặc định ẩn */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        justify-content: center;
        align-items: flex-end;
    }

    /* Modal chọn size nổi ở dưới */
    .size-modal {
        width: 100%;
        max-height: 33vh;
        background-color: white;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 20px;
        box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.2);
        animation: slideUp 0.3s ease-out;
    }

    .size-title {
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
        color: #e87316;
    }

    /* Animation xuất hiện mượt */
    @keyframes slideUp {
        from {
            transform: translateY(100%);
        }

        to {
            transform: translateY(0%);
        }
    }