  .table-responsive {
      margin: 20px 0;
  }

  .btn {
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.3s ease;
  }

  .btn-edit {
      background-color: #4CAF50;
      color: white;
      margin-right: 5px;
  }

  .btn-edit:hover {
      background-color: #45a049;
  }

  .btn-delete {
      background-color: #f44336;
      color: white;
  }

  .btn-primary {
      margin-right: 5px;
  }

  .btn-secondary {
      margin-left: 5px;
  }

  .btn-delete:hover {
      background-color: #d32f2f;
  }

  .table img {
      border-radius: 5px;
      width: 50px;
      height: 50px;
      object-fit: cover;
  }

  th,
  td {
      text-align: center;
      color: white;
  }

  .dropdown-item {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      color: #e5e5e5;
      text-decoration: none;
      transition: background-color 0.3s, color 0.3s;
  }

  .dropdown-item:hover {
      background-color: #2b2b3d;
      color: #ffffff;
  }

  .preview-thumbnail {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
  }

  .preview-icon {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .bg-dark {
      background-color: #1e1e2f;
  }

  .rounded-circle {
      border-radius: 50%;
  }

  .text-success {
      color: #28a745 !important;
  }

  .preview-subject {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
  }

  input,
  textarea {
      color: white !important;
      border-radius: 5px !important;
  }